Das Script liest Datein der Art "Analytics Alle Websitedaten Audience Overview 20220801-20220831 20210801-20210831" ein,<br>
wandelt das Datum ins ISO-Format um, verk√ºrzt 'Date Range', ersetzt den Namen durch 'Year' und sortiert nach dem Datum

In [84]:
import pandas as pd
import numpy as np

In [85]:
def date_range(datrngstr):
    if datrngstr == 'Aug 1, 2021 - Aug 31, 2021':
        return 2021
    elif datrngstr == 'Aug 1, 2022 - Aug 31, 2022':
        return 2022
    else:
        return 0

In [86]:
csv_data_file = 'data.csv'
cols = ['Day Index','Date Range','Users']
df = pd.read_csv(csv_data_file,sep=',',header=0, usecols=cols, parse_dates=[0], index_col=0,thousands=',')

In [87]:
df['Date Range'] = df['Date Range'].apply(lambda x: date_range(x))
df['Users'] = df['Users'].astype('int')
df.rename(columns={'Date Range':'Year'}, inplace=True)

In [88]:
df[pd.notnull(df.index)].sort_index()  # pd.notnull(df.index) filtert NaT-Werte heraus

            Year  Users
Day Index
2021-08-01  2021     57
2021-08-02  2021     48
2021-08-03  2021     43
2021-08-04  2021     66
2021-08-05  2021     34
2021-08-06  2021     33
2021-08-07  2021     44
2021-08-08  2021     47
2021-08-09  2021     33
2021-08-10  2021     33
2021-08-11  2021     34
2021-08-12  2021     21
2021-08-13  2021     45
2021-08-14  2021     36
2021-08-15  2021     41
2021-08-16  2021     38
2021-08-17  2021     35
2021-08-18  2021     52
2021-08-19  2021     39
2021-08-20  2021     46
2021-08-21  2021      2
2021-08-22  2021      2
2021-08-23  2021     27
2021-08-24  2021     42
2021-08-25  2021     29
2021-08-26  2021     65
2021-08-27  2021     53
2021-08-28  2021     46
2021-08-29  2021     41
2021-08-30  2021     48
...          ...    ...
2022-08-02  2022     34
2022-08-03  2022     40
2022-08-04  2022     30
2022-08-05  2022     33
2022-08-06  2022     28
2022-08-07  2022     32
2022-08-08  2022     27
2022-08-09  2022     39
2022-08-10  2022     52
2022-08-11  2022     49
2022-08-12  2022     32
2022-08-13  2022     47
2022-08-14  2022     48
2022-08-15  2022     31
2022-08-16  2022     39
2022-08-17  2022     35
2022-08-18  2022     36
2022-08-19  2022     38
2022-08-20  2022     33
2022-08-21  2022     37
2022-08-22  2022     39
2022-08-23  2022     61
2022-08-24  2022     39
2022-08-25  2022     45
2022-08-26  2022     42
2022-08-27  2022     30
2022-08-28  2022     52
2022-08-29  2022     53
2022-08-30  2022     59
2022-08-31  2022     51

[62 rows x 2 columns]

In [89]:
pivot = df.pivot_table(index = ['Year'],
      values = ['Users'],
      aggfunc = 'sum', fill_value=0, margins=True)

In [90]:
pivot

      Users
Year
2021   2448
2022   2492
All    4940